<div data-ng-controller="DataFormController">
    <form name="userForm" novalidate class="">
        <div class="form-group">
            <label  for="forFirstName">First Name: </label>
            <input type="text" class="form-control" placeholder="Your first name here"/>
        </div>
        <div class="form-group">
            <label  for="forLastName">Last Name: </label>
            <input type="text" class="form-control" placeholder="Your last sname here"/>
        </div>
    </form>
</div>
